<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32605647887-rtm8i3m585g4laqf48chsnbkjul47lkt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32605647887-rtm8i3m585g4laqf48chsnbkjul47lkt</string>
	<key>API_KEY</key>
	<string>AIzaSyANQibHtunnisoE0L2hrSXwctd00z_i-iA</string>
	<key>GCM_SENDER_ID</key>
	<string>32605647887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.logintest</string>
	<key>PROJECT_ID</key>
	<string>social-login-e9515</string>
	<key>STORAGE_BUCKET</key>
	<string>social-login-e9515.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32605647887:ios:500761c14c9f8a62961f7a</string>
	<key>DATABASE_URL</key>
	<string>https://social-login-e9515.firebaseio.com</string>
</dict>
</plist>